body {
    background: #eee;
}
p:last-child {
    margin-bottom: 0;
}
.bodywrap {
    min-height: 100vh;
}
.container.page {
    background: #fff;
}
.hidden {
    display: none;
}
.outputbox {
    font-size: 10px;
}
.navbar-collapse {
    max-height: calc(90vh - 6rem);
    overflow-y: scroll;
}


.the_data_row {
    /*margin: 1rem 0;*/
    align-items: center;/* flex-end;*/
    justify-content: center;
}

.loading-mask {
    z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    background: #343a40;
    color: #fff;
    font-size: 6rem;
    font-weight: bolder;
    text-align: center;
}

.loading-mask .loading-text {
    margin: 0 auto;
    padding-top: 30vh;
}

.loading-end {
    display: none;
}


.modal-header, .modal-footer {
    padding: 0.5rem 1rem;
}
.modal-body {
    padding: 1.5rem 1rem;
}
.modal-body-content {
    min-height: 80vh;
}
.alert-wrap {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 2050;
    display: none;
    width: 360px;
    max-width: 80vw;
    overflow: hidden;
    outline: 0;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to
/* .fade-leave-active, 2.1.8 版本以下 */

    {
    opacity: 0;
    /*display: none;*/
}
.modal-wrap {
    position: fixed;
    z-index: 1040;
}
.modal-fade-enter-active, .modal-fade-leave-active {
    transition: opacity 0.5s;
}
.modal-fade-enter, .modal-fade-leave-to
/* .modal-fade-leave-active, 2.1.8 版本以下 */

    {
    opacity: 0;
    z-index: 1040;
    /*display: none;*/
}